@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
.feed .like-btn .reaction-box {
  position: absolute;
  width: 200px;
  height: 32px;
  background: lightgoldenrodyellow;
  border-radius: 24px;
  left: -25px;
  bottom: 37px;
  display: none;
  z-index: 2;
}
.reactions-wrapper {
  padding: 0px 20px;
  height: 32px;
}
.feed .like-btn .reaction-box .reaction-icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  border-radius: 20px;
  margin-right: 16px;
  text-align: center;
  font-size: 22px;
}
.feed .like-btn .reaction-box .reaction-icon label {
  padding: 4px 8px;
  box-sizing: border-box;
  position: relative;
  bottom: 63px;
  height: 24px;
  border-radius: 10px;
  color: #FFF;
  background: #161616;
  visibility: hidden;
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
}
.feed .like-btn:hover {
  background: lightgray;
}
.feed .like-btn:hover .reaction-box {
  display: block;
}
.feed .like-btn .reaction-box .reaction-icon:hover {
  transform: scale(1.4, 1.4) translate(0, -6px);
}
.feed .like-btn:hover .reaction-box .reaction-icon:hover label {
  visibility: visible;
}
