.feed .like-btn {
  background: #ffffff;
  padding: 2px 10px;
  position: absolute;
  bottom: 13px;
  left: 13px;
  cursor: pointer;
}
.emoji {
  margin-right: 5px;
}
.emoji-name,.emoji {
  font-size: 16px;
  font-weight: 500;
}
.feed .like-btn::before {
  content: ".";
  opacity: 0;
  display: block;
  width: 44px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}
