.panel {
    width: 200px;
    height: auto;
    z-index: 1;
    background-color: #dfe4ea;
    color: #111111;
    top: 88%;
    left: -18px;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
}
.panelTitle, .usersList {
    font-size: 12px;
}
.panelTitle {
    font-weight: 800;
}

.usersList {
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
}